body {
  background-color: #0974aa;
}

h1 {
  color: #e3ecf2;
}

address {
  margin-bottom: 0;
}

h1 span.visible-xs {
  line-height: 1px;
}

.spacer {
  margin: 0 5px;
}

.content *,
.contact {
  background-color: #e3ecf2;
}

.headshot {
    /*width: 100px;*/
}
